#game-canvas {
    background-color: pink;
    float: left;
    cursor: crosshair;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#animation-canvas {
    /* background-color: rgba(100,100,100,.5); */
    position: fixed;
    left: 0px;
    cursor: crosshair;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}