/* Classes */
.info-box {
    padding: 10px;
    margin-top: 5px;
    
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}

#selected-tile {
    background-color: #585858;
    color: white;
}

#map-info {
    background-color: #8DCEDB;
}

#upgrades {
    background-color: #6CD48A;
}

#helper-functions {
    background-color: pink;
}

button {
    background-color: #C3C3C3;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
}
